  body {
    display: flex;
    background-color: azure;

    flex-direction: column;
    font-size: 18px;
  }

  header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1% 1% 0%;
    background-color: #13293d;
  }

  aside {
    height: 40px;
    width: auto;
    background-color: #b9c6ae;
    padding: 0% 2% 0% 2%;

  }

  aside p {
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    color: #13293d;
  }


  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
  }

  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
    text-decoration: underline;

  }

  /* main {
    display: flex;
    flex-flow: column;
    
  } */

  main header {
  background-color:azure;
  color: #13293d;
  font-weight: bold;
  flex-wrap: wrap;
  width: 10%;
  text-align: right;
  border-right: solid 2px #13293d;
  
  margin: 5px;
}

/* header .row2 {
  margin: 20px;
} */

  .row1 {
    height: 40vh;
   
  }

  .row1 img {
    height: 100%;
    width: 100%;

  }

  .row2 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    top: 0px;
    border-color: red;
    border-width: 1px;
    border-style: dashed;
  }

  .row3 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    top: 0px;
    border-color: red;
    border-width: 1px;
    border-style: dashed;
  }

  .row4 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    top: 0px;
    border-color: red;
    border-width: 1px;
    border-style: dashed;
  }



  /* .card img {
    width: 20%;
  } */


  /*
  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
   
    
    header {
      background: #772014;
    }
    
  }
  
 
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  
    
    header {
      background: #8ac4ff;
    }
    
    
  }
  */